doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block config
      - var pageTitle = 'Homepage'
    title into.domains | #{pageTitle}
    meta(name='description', content='Domains are cool.')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" )
    script(src='https://cdn.jsdelivr.net/npm/@glidejs/glide')

  body
    block main
    block scripts-bottom
