include _inline-svg

mixin logo-block()
  div(class="logo-block #{attributes.style}")
    a.logo(href="/")
      +logo-svg

    if attributes.mail
      .mail
        +mail-svg

    if attributes.buy
      .buy
        span
          | buy&nbsp;
        span.mobile
          | now

