include _inline-svg

mixin logo-block(param)
  div(class="logo-block #{param.style}")
    a.logo(href="/")
      +logo-svg

    if(param.mail === true)
      .mail
        +mail-svg

    if (param.buy === true)
      .buy
        span
          | buy&nbsp;
        span.mobile
          | now

