section.hero
  +logo-block({style: 'logo-block--dark', mail: true})
  h1.title
    | We are into domains in a different way.
  form
    label(for='text')
      | Send us an inquary or check if we have it.
    .input-wrapper
      input(type="text" id="text" name="text" placeholder="any keywords")
      button
        | show
  +hero-bg-svg
