section.info
  .column
    h2.heading
      | We are a small team of enthusiasts that are found of creating, describing and branding names.
    .row
      h5.subheading
        | Dear Client,
      p.text
        | Every name, weather is real or invented have its semantic potential. We partialy expose this and offer a view onto its possible branding.
    .row
      h5.subheading
        | Dear designer/ domain owner,
      p.text
        | Have an interesting domain or logo desing?
      p.text
        | Let's pack it up?

    .row.row--flex
      .column-left
        .copyright
          | © | 2018
        .logo
          +logo-svg
        .slogan
          | Readymade solutions
        .slogan
          | for your business.
      .column-right
        +arrow-svg('home')

  +logo-block()(style='logo-block--light', mail=1)
