section.tags
  .tag-row
    label.label
      | Keywords:
    .tag
      | xtery
    .tag
      | neologism
    .tag
      | crypto
    .tag
      | domain
    .tag
      | x
    .tag
      | connection
    .tag
      | nodes
    .tag.more
      | 31 more
