section.info
  .wrapper
    .column.column-big
      h2.heading
        | Legend

      p.text
        | "Xtery" - invented word which sounding is simmilar a bit to "mystery", sounding smooth but unclear how to write.
      p.text
        | "X" is the root "tery" is the suffix. Aswell a suffix for such&nbsp;

        a(href="www.yandex.ru")
          | words

      p.text
        | Tery is unisexual name, if Tery would be a Xman then he would also be a XTery.

      p.text
        | Tery suffix mostly is being contained in nouns. There we can transform words starting with "x"

      p.text
        | Semantics by&nbsp;

        a(href="www.yandex.ru")
          | Into.Domains

      p.text
        | Logo design by&nbsp;

        a(href="www.yandex.ru")
          | MarkForge.com

    .column.column-small
      h2.heading
        | Clarity
      each val in clarityPluses
        .tag.green
          | #{val}
        br
      each val in clarityMinuses
        .tag.red
          | how to write?

    .column.column-big
      h2.heading
        | Niches

      p.text
        | IT companies and blockchain companies because they use to have simmilar names.

      p.text
        | People named Tery and having sportive occupation or producing sportive equipement.

      p.text
        | A startup wishing to call themself Mystery.

      p.text
        | p.s Tery, send us&nbsp;

        a
          | a message&nbsp;

        | when you read this.

    .column.column-small.column-arrow
      +arrow-svg('product')