section.hero
  .wrapper
    +logo-block({style: 'logo-block--dark logo-block--wrapper', buy: true})
    h1.title
      .upper-part
        span.dn-sm
          | Welcome to&nbsp;
        strong
          | xtery.com&nbsp;
      .bottom-part
        | this domain and logo are for sale
    .price-row
      .dropdown.price-item.price-mid
        .text
          | domain + logo concept
        img.icon(src="img/down.svg")
        .option-box
          .option
            | domain
          .option
            | logo concept

      .divider.divider-small
      .price.price-item.price-mid
        | = $ 3,000
        .year
          | TODAY PRICE
      .divider.divider-normal.dn-md
      .price.price-item.price-small.dn-md
        | ≥ $ 6,000
        .year
          | 2019
      .divider.divider-normal.dn-lg
      .price.price-item.price-small.dn-lg
        | ≥ $ 7,000
        .year
          | 2020
